.info {
    display: grid;
    /*background: aqua;*/
    background: radial-gradient(circle, rgba(41,171,80,1) 0%, rgba(34,126,62,1) 32%, rgba(29,113,52,1) 65%);
    color: antiquewhite;
    /*justify-content: center;
    align-content: center;*/
}

.img1 {
    /*display: flex;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    max-width: 15%;
    padding-top: 20px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h5 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.p1 {
    display: inline-block;
    padding-inline: 50px;
    text-align: center;
}

.post {
    padding-left: 30%;
}

p {
    color:rgb(161, 161, 156);
    font-family: 'Courier New', Courier, monospace;
}

.para {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    text-align: justify;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    background-color: rgb(112, 175, 18);
    color: antiquewhite;
    margin-top: 40px;
    margin-left: 45%;
    width: 15%;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
}